
.alignCenter {
    text-align: center !important;
}

.alignRight {
    text-align: right !important;
}

.alignLeft {
    text-align: left !important;
}

.alignJustify {
    text-align: justify !important;
}

.alignVerticalMiddle {
    vertical-align: middle !important;
}

div.custom_file_upload {
    width: 230px;
    height: 20px;
    margin: 0px auto;
    cursor: pointer !important;
}

div.custom_file_upload input.file {
    width: 150px;
    height: 30px;
    border: 1px solid #BBB;
    border-right: 0;
    color: #888;
    padding: 5px;
    cursor: pointer !important;
    
    -webkit-border-top-radius: 5px;
    -webkit-border-bottom-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-radius: 5px;
    border-bottom-radius: 5px;
    
    outline: none;
}

div.file_upload {
    width: 80px;
    height: 30px;
    background: #7abcff;
    background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );

    display: inline;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius: 5px;
    border-radius: 5px;
    
    font-weight: bold;
    color: #FFF;
    text-align: center;
    padding-top: 8px;
}
div.file_upload:before {
    content: 'UPLOAD';
    position: absolute;
    left: 0; right: 0;
    text-align: center;
    cursor: pointer !important;
}

div.file_upload input {
    position: relative;
    height: 30px;
    width: 250px;
    display: inline;
    cursor: pointer !important;
    opacity: 0;
}

/*==================================================
  Pnotify
==================================================== */
/* -- Notice */
.ui-pnotify {
    top: 25px;
    right: 25px;
    position: absolute;
    height: auto;
    /* Ensures notices are above everything */
    z-index: 9999;
}
.ui-pnotify .alert {
    border-radius: 0;
}
/* Hides position: fixed from IE6 */
html > body > .ui-pnotify {
    position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}
.ui-pnotify-container {
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0;
}
.ui-pnotify-sharp {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ui-pnotify-title {
    display: block;
    margin-bottom: .4em;
    margin-top: 0;
}
.ui-pnotify-text {
    display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
    display: block;
    float: left;
    margin-right: .2em;
}
/* Alternate stack initial positioning. */
.ui-pnotify.stack_top_left, .ui-pnotify.stack_bottom_left {
    left: 15px;
    right: auto;
}
.ui-pnotify.stack_bottom_right, .ui-pnotify.stack_bottom_left {
    bottom: 25px;
    right: 8px;
    top: auto;
}
.ui-pnotify.stack_bottom_right {
    right: 12px;
}
.ui-pnotify-closer, .ui-pnotify-sticker {
    float: right;
    margin-left: .2em;
}
.ui-pnotify.stack_bar_top {
    right: 0;
    top: 0;
    width: 100%;
    border-radius: 0;
}
.ui-pnotify.stack_bar_top .alert {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}
.ui-pnotify.stack_bar_bottom {
    right: auto;
    top: auto;
    left: auto;
    margin-left: 15%;
    bottom: 0;
    border-radius: 0;
}
/*wrapper */
.ui-pnotify {
    top: 70px;
    right: 8px;
}
/*with icon*/
.ui-pnotify-icon, .ui-pnotify-icon span {
    font-size: 30px;
    min-height: 40px;
    line-height: 40px;
    padding-right: 3px;
}
/*email dock*/
.quick-compose-form {
    display: none;
}

.dockmodal-body .quick-compose-form {
    display: block;
}